body{
    background-image: url(okay.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
}